<p id="footer">MIM-Orchid<br />
URL of this page: https://pinotes.github.io/{{ page.folder }}/{{ page.filename }}.html<br />
Original URL: https://pinotes.github.io/{{ page.folder }}/{{ page.filename }}.html<br />
Original underlying file: <a href="https://github.com/pinotes/pinotes.github.io/blob/master/{{ page.folder }}/{{ page.filename }}.md">https://github.com/pinotes/pinotes.github.io/blob/master/{{ page.folder }}/{{ page.filename }}.md</a><br />
Last changed {{ page.modified | date: "%B %-d, %Y" }}</p>
