<p id="footer"><span class="styletext" style="font-size: 3.330em">Proletarian Internationalist Notes</span><br /><span id="footer-menu">[ <a href="../index.html">Top</a> ] [ <a href="../pages/agitation/index.html">Agitation</a> ] [ <a href="../pages/latest.html">Latest</a> ] [ <a href="../pages/newsletter/index.html">Newsletter</a> ] [ <a href="../reviews/movies/index.html">Movie Reviews</a> ]</span><br />
Proletarian Internationalist Notes (PINotes) <a href="https://github.com/pinotes/pinotes.github.io">https://github.com/pinotes/pinotes.github.io</a><br />
MIM-Orchid<br />
Maoist Internationalist Movement (MIM)<br />
URL of this page: https://pinotes.github.io{{ page.url }}<br />
Original URL: https://pinotes.github.io{{ page.url }}<br />
Original underlying file: <a href="https://github.com/pinotes/pinotes.github.io/blob/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.url | replace:'/article/','' }}.md">https://github.com/pinotes/pinotes.github.io/blob/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.url | replace:'/article/','' }}.md</a><br />
Added/last changed {{ page.modified | date: "%B %-d, %Y" }}</p>
